* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.calculator {
  width: 300px;
  height: 490px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 0 20px;
}
.calculator__total {
  height: 150px;
  font-size: 50px;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 5px;
}
.calculator__wrapper {
display: grid;
column: 3fr, 1fr;
row: 1fr, 4fr;
}
.calculator__number {

}
.calculator__sign {

}
.calculator__btn {
  margin-bottom: 5px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  background-color: #313131;
  cursor: pointer;
}
.calculator__btn.calculator__btn--grey {
  background-color: #a4a4a4;
  color: black;
}
.calculator__btn.calculator__btn--orange {
  background-color: #fe9f09;
}
.calculator__btn.calculator__btn--big {
  width: 130px;
  border-radius: 40px;
  justify-content: start;
  padding-left: 30px;
}
.calculator__btn:active {
  background-color: #575757;
}
.calculator__btn.calculator__btn--grey:active {
  background-color: #cacaca;
}
.calculator__btn.calculator__btn--orange:active {
  background-color: #febd55;
}



